<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Wanted</th>
      <th>Not wanted</th>
      <th>Metric</th>
      <th>Question type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.sentence %></td>
        <td><%= question.wanted %></td>
        <td><%= question.not_wanted %></td>
        <td><%= question.metric_id %></td>
        <td><%= question.question_type_id %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
