<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">

<p id="notice"><%= notice %></p>

<h1><%= @question.sentence %></h1>

<p>
  <strong>Wanted:</strong>
  <%= @question.wanted %>
</p>

<p>
  <strong>Not wanted:</strong>
  <%= @question.not_wanted %>
</p>

<p>
  <strong>Metric:</strong>
  <%= link_to @question.metric.name, @question.metric %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type.name %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

</div>
