<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @corral.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @corral.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @corral.description %>
</p>

<p>
  <strong>Agreement:</strong>
  <%= @corral.agreement %>
</p>

<h2>Users</h2>
<ul>
  <% @corral.users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<%= render 'invites' %>
<%= render 'metrics' %>

<%= link_to 'Edit', edit_corral_path(@corral) %> |
<%= link_to 'Back', corrals_path %>
