<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallina.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @gallina.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallina.description %>
</p>

<p>
  <strong>Corral:</strong>
  <%= @gallina.corral_id %>
</p>

<%= render 'revieweds' %>

<%= render 'data_tables' %>

<%= link_to 'Edit', edit_gallina_path(@gallina) %> |
<%= link_to 'Back', gallinas_path %>
