<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">

<p id="notice"><%= notice %></p>

<h1><%= @gallina.name %></h1>

<p>
  <strong>Image:</strong>
  <%= @gallina.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallina.description %>
</p>

<p>
  <strong>Corral:</strong>
  <%= link_to @gallina.corral.name, @gallina.corral %>
</p>

<%= render 'revieweds' %>

<h3><%= Review.count %> being processed, stats will be processed soon</h3>

<%#= render 'data_tables' %>

<%= link_to 'Edit', edit_gallina_path(@gallina) %> |
<%= link_to 'Back', gallinas_path %>

</div>
